<a href="https://colab.research.google.com/github/Paiva-Coppe/Base/blob/main/Bruno_Fundos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Bruno - Programa em Python para Acompanhar os Fundos do Bruno**

##Fonte de dados
Investing é a principal fonte de dados da qual ***investpy*** recupera os dados. Investing é um portal financeiro global e marca na Internet de propriedade da Fusion Media Ltd. que fornece notícias, análises, cotações de streaming, gráficos, dados técnicos e ferramentas financeiras sobre os mercados financeiros globais.\

##Recuperação de dados recentes / históricos
A principal funcionalidade do ***investpy*** é recuperar dados históricos dos produtos financeiros indexados. Portanto, funções de recuperação de dados recentes e históricos foram desenvolvidas para recuperar dados do último mês ou de um período de tempo concreto, respectivamente.

### **Instalação dos Packages**

In [ ]:
!pip install investpy

In [1]:
import investpy

In [3]:
import pandas

### **Busca dos Fundos**

In [11]:
fundos = investpy.funds.get_funds(country= "brazil")
fundos

     country  ... underlying
0     brazil  ...       None
1     brazil  ...       None
2     brazil  ...       None
3     brazil  ...       None
4     brazil  ...       None
...      ...  ...        ...
5195  brazil  ...       None
5196  brazil  ...       None
5197  brazil  ...       None
5198  brazil  ...       None
5199  brazil  ...       None

[5200 rows x 8 columns]

In [19]:
hd_01 = investpy.funds.get_fund_historical_data ( fund = "Logos Fundo De Investimento Multimercado Investimento No Exterior" , country = "brazil" , from_date = "01/01/1900" , to_date = "14/10/2020" , as_json = False , order = 'ascending' , interval = 'Daily' )
hd_01

               Open     High      Low    Close Currency
Date
2018-11-21  335.276  335.276  335.276  335.276      BRL
2018-11-22  335.586  335.586  335.586  335.586      BRL
2018-11-23  334.713  334.713  334.713  334.713      BRL
2018-11-26  332.823  332.823  332.823  332.823      BRL
2018-11-27  334.524  334.524  334.524  334.524      BRL
...             ...      ...      ...      ...      ...
2020-10-06  433.540  433.540  433.540  433.540      BRL
2020-10-07  443.298  443.298  443.298  443.298      BRL
2020-10-08  439.662  439.662  439.662  439.662      BRL
2020-10-13  440.205  440.205  440.205  440.205      BRL
2020-10-14  447.235  447.235  447.235  447.235      BRL

[466 rows x 5 columns]

In [21]:
hd_02 = investpy.funds.get_fund_historical_data ( fund = "Pacifico Lb Fundo De Investimento Em Cotas De Fundos De Investimento Multimercado" , country = "brazil" , from_date = "01/01/1900" , to_date = "14/10/2020" , as_json = False , order = 'ascending' , interval = 'Daily' )
hd_02

             Open   High    Low  Close Currency
Date
2017-06-29  1.688  1.688  1.688  1.688      BRL
2017-06-30  1.704  1.704  1.704  1.704      BRL
2017-07-03  1.703  1.703  1.703  1.703      BRL
2017-07-04  1.702  1.702  1.702  1.702      BRL
2017-07-05  1.703  1.703  1.703  1.703      BRL
...           ...    ...    ...    ...      ...
2020-10-07  2.840  2.840  2.840  2.840      BRL
2020-10-08  2.852  2.852  2.852  2.852      BRL
2020-10-09  2.853  2.853  2.853  2.853      BRL
2020-10-13  2.875  2.875  2.875  2.875      BRL
2020-10-14  2.907  2.907  2.907  2.907      BRL

[808 rows x 5 columns]

In [22]:
hd_03 = investpy.funds.get_fund_historical_data ( fund = "Tarpon Gt Fundo De Investimento Em Cotas De Fundos De Investimento Em Ações" , country = "brazil" , from_date = "01/01/1900" , to_date = "14/10/2020" , as_json = False , order = 'ascending' , interval = 'Daily' )
hd_03

             Open   High    Low  Close Currency
Date
2015-08-05  2.245  2.245  2.245  2.245      BRL
2015-08-06  2.224  2.224  2.224  2.224      BRL
2015-08-07  2.194  2.194  2.194  2.194      BRL
2015-08-10  2.194  2.194  2.194  2.194      BRL
2015-08-11  2.160  2.160  2.160  2.160      BRL
...           ...    ...    ...    ...      ...
2020-10-07  8.645  8.645  8.645  8.645      BRL
2020-10-08  8.641  8.641  8.641  8.641      BRL
2020-10-09  8.650  8.650  8.650  8.650      BRL
2020-10-13  8.674  8.674  8.674  8.674      BRL
2020-10-14  8.692  8.692  8.692  8.692      BRL

[1311 rows x 5 columns]

In [23]:
hd_04 = investpy.funds.get_fund_historical_data ( fund = "Alaska Black Fundo De Investimento Em Cotas De Fundos De Investimento Em Ações Ii - Bdr Nível I" , country = "brazil" , from_date = "01/01/1900" , to_date = "14/10/2020" , as_json = False , order = 'ascending' , interval = 'Daily' )
hd_04

             Open   High    Low  Close Currency
Date
2018-11-28  2.130  2.130  2.130  2.130      BRL
2018-11-29  2.139  2.139  2.139  2.139      BRL
2018-11-30  2.134  2.134  2.134  2.134      BRL
2018-12-03  2.164  2.164  2.164  2.164      BRL
2018-12-04  2.109  2.109  2.109  2.109      BRL
...           ...    ...    ...    ...      ...
2020-10-07  1.325  1.325  1.325  1.325      BRL
2020-10-08  1.377  1.377  1.377  1.377      BRL
2020-10-09  1.389  1.389  1.389  1.389      BRL
2020-10-13  1.403  1.403  1.403  1.403      BRL
2020-10-14  1.421  1.421  1.421  1.421      BRL

[463 rows x 5 columns]

In [24]:
hd_05 = investpy.funds.get_fund_historical_data ( fund = "Alaska Black Institucional Fundo De Investimento De Acoes" , country = "brazil" , from_date = "01/01/1900" , to_date = "14/10/2020" , as_json = False , order = 'ascending' , interval = 'Daily' )
hd_05

             Open   High    Low  Close Currency
Date
2018-11-19  2.014  2.014  2.014  2.014      BRL
2018-11-20  2.014  2.014  2.014  2.014      BRL
2018-11-21  2.000  2.000  2.000  2.000      BRL
2018-11-22  2.022  2.022  2.022  2.022      BRL
2018-11-23  1.990  1.990  1.990  1.990      BRL
...           ...    ...    ...    ...      ...
2020-10-07  2.232  2.232  2.232  2.232      BRL
2020-10-08  2.283  2.283  2.283  2.283      BRL
2020-10-09  2.290  2.290  2.290  2.290      BRL
2020-10-13  2.325  2.325  2.325  2.325      BRL
2020-10-14  2.354  2.354  2.354  2.354      BRL

[468 rows x 5 columns]

In [25]:
hd_06 = investpy.funds.get_fund_historical_data ( fund = "Equitas Selection Fundo De Investimento Em Cotas De Fundos De Investimento De Ações" , country = "brazil" , from_date = "01/01/1900" , to_date = "14/10/2020" , as_json = False , order = 'ascending' , interval = 'Daily' )
hd_06

             Open   High    Low  Close Currency
Date
2017-06-29  3.274  3.274  3.274  3.274      BRL
2017-06-30  3.303  3.303  3.303  3.303      BRL
2017-07-03  3.315  3.315  3.315  3.315      BRL
2017-07-04  3.326  3.326  3.326  3.326      BRL
2017-07-05  3.319  3.319  3.319  3.319      BRL
...           ...    ...    ...    ...      ...
2020-10-07  5.502  5.502  5.502  5.502      BRL
2020-10-08  5.589  5.589  5.589  5.589      BRL
2020-10-09  5.586  5.586  5.586  5.586      BRL
2020-10-13  5.618  5.618  5.618  5.618      BRL
2020-10-14  5.683  5.683  5.683  5.683      BRL

[808 rows x 5 columns]

In [26]:
hd_07 = investpy.funds.get_fund_historical_data ( fund = "Moat Capital Fundo De Investimento Em Cotas De Fundo De Investimento Em Ações" , country = "brazil" , from_date = "01/01/1900" , to_date = "14/10/2020" , as_json = False , order = 'ascending' , interval = 'Daily' )
hd_07

             Open   High    Low  Close Currency
Date
2018-11-22  2.669  2.669  2.669  2.669      BRL
2018-11-23  2.648  2.648  2.648  2.648      BRL
2018-11-26  2.636  2.636  2.636  2.636      BRL
2018-11-27  2.685  2.685  2.685  2.685      BRL
2018-11-28  2.709  2.709  2.709  2.709      BRL
...           ...    ...    ...    ...      ...
2020-10-07  3.485  3.485  3.485  3.485      BRL
2020-10-08  3.573  3.573  3.573  3.573      BRL
2020-10-09  3.573  3.573  3.573  3.573      BRL
2020-10-13  3.592  3.592  3.592  3.592      BRL
2020-10-14  3.596  3.596  3.596  3.596      BRL

[465 rows x 5 columns]

In [27]:
hd_08 = investpy.funds.get_fund_historical_data ( fund = "Joule Value Fundo De Investimento Em Ações" , country = "brazil" , from_date = "01/01/1900" , to_date = "14/10/2020" , as_json = False , order = 'ascending' , interval = 'Daily' )
hd_08

             Open   High    Low  Close Currency
Date
2018-11-26  2.997  2.997  2.997  2.997      BRL
2018-11-27  3.046  3.046  3.046  3.046      BRL
2018-11-28  3.125  3.125  3.125  3.125      BRL
2018-11-29  3.140  3.140  3.140  3.140      BRL
2018-11-30  3.162  3.162  3.162  3.162      BRL
...           ...    ...    ...    ...      ...
2020-10-07  4.742  4.742  4.742  4.742      BRL
2020-10-08  4.846  4.846  4.846  4.846      BRL
2020-10-09  4.927  4.927  4.927  4.927      BRL
2020-10-13  4.965  4.965  4.965  4.965      BRL
2020-10-14  5.009  5.009  5.009  5.009      BRL

[464 rows x 5 columns]

In [28]:
hd_09 = investpy.funds.get_fund_historical_data ( fund = "Real Investor Fundo De Investimento Em Ações" , country = "brazil" , from_date = "01/01/1900" , to_date = "14/10/2020" , as_json = False , order = 'ascending' , interval = 'Daily' )
hd_09

              Open    High     Low   Close Currency
Date
2018-11-22   8.773   8.773   8.773   8.773      BRL
2018-11-23   8.720   8.720   8.720   8.720      BRL
2018-11-26   8.671   8.671   8.671   8.671      BRL
2018-11-27   8.833   8.833   8.833   8.833      BRL
2018-11-28   9.037   9.037   9.037   9.037      BRL
...            ...     ...     ...     ...      ...
2020-10-07  13.231  13.231  13.231  13.231      BRL
2020-10-08  13.445  13.445  13.445  13.445      BRL
2020-10-09  13.418  13.418  13.418  13.418      BRL
2020-10-13  13.463  13.463  13.463  13.463      BRL
2020-10-14  13.517  13.517  13.517  13.517      BRL

[464 rows x 5 columns]

In [29]:
hd_10 = investpy.funds.get_fund_historical_data ( fund = "Forpus Ações Fundo De Investimento Em Cotas De Fundos De Investimento De Ações" , country = "brazil" , from_date = "01/01/1900" , to_date = "14/10/2020" , as_json = False , order = 'ascending' , interval = 'Daily' )
hd_10

             Open   High    Low  Close Currency
Date
2018-11-22  2.947  2.947  2.947  2.947      BRL
2018-11-23  2.933  2.933  2.933  2.933      BRL
2018-11-26  2.857  2.857  2.857  2.857      BRL
2018-11-27  2.945  2.945  2.945  2.945      BRL
2018-11-28  2.952  2.952  2.952  2.952      BRL
...           ...    ...    ...    ...      ...
2020-10-07  5.042  5.042  5.042  5.042      BRL
2020-10-08  5.054  5.054  5.054  5.054      BRL
2020-10-09  5.094  5.094  5.094  5.094      BRL
2020-10-13  5.075  5.075  5.075  5.075      BRL
2020-10-14  5.123  5.123  5.123  5.123      BRL

[465 rows x 5 columns]

In [30]:
hd_11 = investpy.funds.get_fund_historical_data ( fund = "Ibiuna Long Biased Fundo De Investimento Em Cotas De Fundos De Investimento Multimercado" , country = "brazil" , from_date = "01/01/1900" , to_date = "14/10/2020" , as_json = False , order = 'ascending' , interval = 'Daily' )
hd_11

               Open     High      Low    Close Currency
Date
2018-11-22  211.429  211.429  211.429  211.429      BRL
2018-11-23  209.187  209.187  209.187  209.187      BRL
2018-11-26  207.844  207.844  207.844  207.844      BRL
2018-11-27  212.717  212.717  212.717  212.717      BRL
2018-11-28  215.133  215.133  215.133  215.133      BRL
...             ...      ...      ...      ...      ...
2020-10-07  253.666  253.666  253.666  253.666      BRL
2020-10-08  256.442  256.442  256.442  256.442      BRL
2020-10-09  255.110  255.110  255.110  255.110      BRL
2020-10-13  256.014  256.014  256.014  256.014      BRL
2020-10-14  258.696  258.696  258.696  258.696      BRL

[461 rows x 5 columns]